body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.resume {
    max-width: 800px;
    margin: 60px auto;
    background-color:white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 5px;
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 30px;
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

.contact p {
    margin: 4px 0;
}

ul {
    margin-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

section {
    margin-bottom: 20px;
}
.shl
{
	font-size:25px;
	font-family:bold;
	
}